<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Improve your interview skills!</title>
    <link rel='stylesheet' href='./output.css' />

  </head>

  <body>
    <h1 class="text-3xl font-bold underline">Hello World!!!!!!!!</h1> 
    {{!-- {{! Column for the header and main classes }}
    <div class=''>
      {{! Flex column for the header }}
      <header class=''>
        <h1>
          <a href='/'>CodingFuel</a>
        </h1>
        <nav>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/thread'>Question Thread</a>
            |
            <button class='no-button' id='logout'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>
      {{! Fluid container for the body IMPORTANT }}
      <main class='container'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}} --}}
  </body>

</html>