{{! flex for login/signup }}
<div class='text-white flex justify-center p-8 mx-8'>
  {{! Login Section }}
  <div class='text-white text-3xl'>
    <h2>Login</h2>

    <form class='text-white form login-form text-3xl'>
      <div class='form-group'>
        <label for='email-login'>email:</label>
        <input
          class='form-input text-black border-2 border-black'
          type='text'
          id='email-login'
        />
      </div>
      <div class='form-group'>
        <label for='password-login'>password:</label>
        <input
          class='form-input text-black border-2 border-black'
          type='password'
          id='password-login'
        />
      </div>
      <div class='form-group'>
        <button
          class='rounded-full border-2 border-white p-3'
          type='submit'
        >login</button>
      </div>
    </form>
  </div>
  {{! Signup section }}
  <div class='text-3xl'>
    <h2>Signup</h2>

    <form class='form signup-form text-3xl'>
      <div class='form-group'>
        <label for='name-signup'>name:</label>
        <input
          class='form-input text-black border-2 border-black'
          type='text'
          id='name-signup'
        />
      </div>
      <div class='form-group'>
        <label for='email-signup'>email:</label>
        <input
          class='form-input text-black border-2 border-black'
          type='text'
          id='email-signup'
        />
      </div>
      <div class='form-group'>
        <label for='password-signup'>password:</label>
        <input
          class='form-input text-black border-2 border-black'
          type='password'
          id='password-signup'
        />
      </div>
      <div class='form-group'>
        <button
          class='rounded-full border-2 border-white p-3'
          type='submit'
        >signup</button>
      </div>
    </form>
  </div>
</div>

<script src='.././public/js/login.js'></script>