{{! Row for the name class }}
<div class=''>
  {{! column for the name class }}
  <div class='text-white font-mono text-5xl flex justify-center'>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

{{! Class for the flex column }}
<div class='flex justify-center p-10'>
  {{! Column for the interview topics class }}
  <div class='text-white font-mono text-2xl'>
    <form class='form new-interview-form text-white'>
      <div class='form-group'>
        <label for='interview-name'>What company did you interview with?</label>
        <input
          class='form-input black border-2 border-black text-black'
          type='text'
          id='interview-name'
          name='interview-name'
        />
      </div>
      <div class='form-group text-white font-mono'>
        <label for='interview-questions'>How many questions were asked?</label>
        <input
          class='form-input black border-2 border-black text-black'
          type='number'
          id='interview-questions'
          name='interview-questions'
        />
      </div> 
      <div class='form-group'>
        <label for='interview-desc'>What did you think about the interview?</label>
        <textarea
          class='form-input black border-2 border-black text-black'
          id='interview-desc'
          name='interview-desc'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='rounded-full border-2 border-white p-3'>Create</button>
      </div>
    </form>
  </div>

  {{#if interviews.length}}
    {{! column for the recent interview list }}
    <div class='project-list'>
      <h3>Recent interviews:</h3>

      {{#each interviews as |interview|}}
        {{! Row for the interview objects }}
        <div class=''>
          {{! Column for interview information }}
          <div class=''>
            <h4><a
                href='/interview/{{interview.id}}'
              >{{interview.name}}</a></h4>
          </div>
          {{! Column for the delete button }}
          <div class=''>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{interview.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>

<script src='./js/profile.js'></script>