<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Improve your interview skills!</title>
    <link rel='stylesheet' href='./output.css' />

  </head>

  <body>
    <div>
    <h1></h1> 
    </div>

      <header class=''>
        <h1>
          <a></a>
        </h1>
        <nav>
        
        </nav>
      </header>
    
      <main class=''>
    
      </main>
      <footer>

      </footer>
    </div>

  </body>

</html>